body{
	width:80%;
	margin: auto;
}

nav{
	width: 80%;
	padding: 20px;
	background-color: #ddd;
	margin: auto;
}

nav a{
	padding: 20px;
	text-decoration: none;
}

table{
	border-collapse: collapse;
	font-family: arial;
}

td{
	padding: 8px;
}

#first{
	background-color: #ddd;
}